body {
    background-color: #fafafa;
    color: rgba(0,0,0,0.87);
    padding: 0;
    margin: 0;
}

form {
    display: block;
    width: 400px;
    margin: auto;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, \"Helvetica Neue\", sans-serif;
    letter-spacing: normal;
}

.field {
    border-radius: 4px 4px 0 0;
    padding: .75em .75em 0 .75em;
    margin: 1.5em 0;
    background-color: rgba(0,0,0,0.04);
    box-sizing: border-box;
    width: 100%;
    border-bottom: #3f51b5 2px solid;
}

input {
    padding: .25em 0 .75em 0;
    display: block;
    width: 100%;
    font: inherit;
    background: transparent;
    caret-color: #3f51b5;
    border: none;
    outline: none;
}

label {
    color: #3f51b5;
    display: block;
    font-size: 12px;
}

.bar {
    height: 64px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    font: 500 20px/32px Roboto, \"Helvetica Neue\", sans-serif;
}

.light {
    background: #f5f5f5;
    color: rgba(0,0,0,0.87);
}

.dark {
    background: #3f51b5;
    color: #fff;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0 16px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #3f51b5;
    color: #fff;
    font: inherit;
    height: 36px;
    margin-bottom: 32px;
}